<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <nav>
        <ul class="nav-left">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="{% url 'Blogs' %}">Blogs</a></li>
            <li><a href="{% url 'Model:Configure_Constants' %}">Carbon Footprint Analyser</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Welcome to My Website</h1>
        <p>This is the home page.</p>
    </div>
</body>
</html>